extends layout

block content
  .content
    // Background Video
    video#bg-video(autoplay, muted, loop)
      source(src='/images/background.mp4', type='video/mp4')
      Your browser does not support the video tag.
    // Main Content
    .container.mt-5
      h2.text-center.text-white.mb-4.mb-5 Next games:
      .row
        if games && games.length
          each game in games
            .col-md-4
              .card.mb-4.p-3.custom-card-bg
                .card-body.text-center
                  .d-flex.justify-content-between.align-items-center.mb-3
                    img(src=game.homeLogo, alt=`${game.homeTeam} Logo`, class='team-logo')
                    span.vs VS
                    img(src=game.awayLogo, alt=`${game.awayTeam} Logo`, class='team-logo')
                  h5.card-title.mt-3 #{game.homeTeam} vs #{game.awayTeam}
                  p.card-text
                    | Time: #{game.time}
                    br
                    | Date: #{game.date}
        else
          .col-md-12
            p.text-center.text-white No upcoming games found.